|*
|* Python is accessible by following methods:
|* - $variable -- printing value of variable to document
|* - ${ <expression> } -- single expression to evaluate and print to document
|* - |! -- general purpose line of any Python code
|* 
|* Any non-python content and non-template content is treated as text. 
|* 


|import showgraph.datadict as data_dict

|load "../footer.md.tmpl" as tmpl_footer
|load "../utils.md.tmpl" as tmpl_utils


|template main( INPUT_DICT )
|!
|! DATA_DICT = data_dict.DataDict( INPUT_DICT )
|!
${ tmpl_footer.print_header() }

## Main graph

${ tmpl_utils.add_graph_default_image( DATA_DICT ) }$>

|! nodes_list = DATA_DICT.get('nodes_list', [])
${ ros_nodes_table( nodes_list ) }$>
|!
|! topics_list = DATA_DICT.get('topics_list', [])
${ tmpl_utils.ros_link_table( topics_list, "ROS topics" ) }$>
|!
|! services_list = DATA_DICT.get('services_list', [])
${ tmpl_utils.ros_link_table( services_list, "ROS services" ) }$>
|!

${ tmpl_footer.print_footer() }
|end template


|* ======================================================================================


|* items_list = [ (<link-name>, <link-url>, <package-name>, <decritpion>) ]
|template ros_nodes_table( items_list )
|{  if items_list:
|!      header_list = [ f"ROS nodes ({ len(items_list) }):", "Package:", "Description:" ]
|!      data_matrix = []
|{      for item_data in items_list:
|!          data_row = []
|!          data_row.append( tmpl_utils.ros_link( item_data[0], item_data[1] ) )
|!          data_row.append( item_data[2] )
|!          data_row.append( item_data[3] if len(item_data) > 3 else '' )
|!          data_matrix.append( data_row )
|}
        $<${ tmpl_utils.insert_table2( header_list, data_matrix ) }

|}
|end template
