|*
|* Python is accessible by following methods:
|* - $variable -- printing value of variable to document
|* - ${ <expression> } -- single expression to evaluate and print to document
|* - |! -- general purpose line of any Python code
|* 
|* Any non-python content and non-template content is treated as text. 
|* 


|import showgraph.datadict as data_dict

|load "../footer.html.tmpl" as tmpl_footer
|load "../utils.html.tmpl" as tmpl_utils


|template main( INPUT_DICT )
|!
|! DATA_DICT = data_dict.DataDict( INPUT_DICT )
|!
<html>
<head>
${ tmpl_footer.print_header() }
    <title>node graph</title>
    <style>
        body {  padding: 24;
                background-color: ${DATA_DICT.get('body_color', '')};
             }

        pre {  background-color: rgb(226, 226, 226);
               margin: 0px;
               padding: 16px;
            }

        pre code {  margin: 0px;
                    padding: 0px;
                 }

        th { padding: 0 20px 0 0;
             text-align: left; 
           }
        td { padding: 0 20px 0 0; }

        .footer { margin-top:48px;
                  width: 100%;
                  margin-right: auto; margin-left: auto;
                  text-align: center;
                  font-size: 12px;
                  color: #444444;
                }

        .center_content {  width: 100%;
                           margin-right: auto; margin-left: auto;
                           text-align: center;
                           padding-top: 24; padding-bottom: 24;
                        }

        .info_content { margin-bottom: 36; }
${DATA_DICT.get('head_css_style', '')}
    </style>
</head>
<body>
    <div class="top_content">
|!
|! main_page_link = DATA_DICT.get('main_page_link')
|{ if main_page_link:
        <a href="${main_page_link}">back to Main graph</a>
|}
        <br />
    </div>
    <div class="center_content">
${ tmpl_utils.add_graph_default_image( DATA_DICT ) }$>
    </div>

|!
|! pkg_path = DATA_DICT.get('pkg_path', "")
|! pkg_name = DATA_DICT.get('pkg_name', "")
|{ if pkg_path or pkg_name:
    <div class="info_content">
        <table>
            <tr>
                <td>Package name:</td>
                <td><code>${pkg_name}</code></td>
            </tr>
            <tr>
                <td>Package path:</td>
                <td><code>${pkg_path}</code></td>
            </tr>
        </table>
    </div>

|}
|!
|!
|! nodes_list = DATA_DICT.get('nodes_list', [])
${ tmpl_utils.ros_link_table( nodes_list, "ROS nodes" ) }$>
|!
|! topics_list = DATA_DICT.get('topics_list', [])
${ tmpl_utils.ros_link_table( topics_list, "ROS topics" ) }$>
|!
|! services_list = DATA_DICT.get('services_list', [])
${ tmpl_utils.ros_link_table( services_list, "ROS services" ) }$>
|!

${ tmpl_footer.print_footer() }
</body>
</html>
|end template
