|*
|* Python is accessible by following methods:
|* - $variable -- printing value of variable to document
|* - ${ <expression> } -- single expression to evaluate and print to document
|* - |! -- general purpose line of any Python code
|* 
|* Any non-python content and non-template content is treated as text. 
|* 


|import showgraph.datadict as data_dict

|load "../footer.md.tmpl" as tmpl_footer
|load "../utils.md.tmpl" as tmpl_utils


|template main( INPUT_DICT )
|!
|! DATA_DICT = data_dict.DataDict( INPUT_DICT )
|!
${ tmpl_footer.print_header() }

## Service

${ tmpl_utils.add_graph_default_image( DATA_DICT ) }$>

|!
${ ros_service_info( DATA_DICT ) }
|!

${ tmpl_footer.print_footer() }
|end template


|*******************************************************


|template ros_service_info( DATA_DICT )
|!
|! srv_name     = DATA_DICT.get('srv_name')
|! srv_listener = DATA_DICT.get('srv_listener')
|! msg_type     = DATA_DICT.get('msg_type')
|{ if srv_name and srv_listener:
|!      data_matrix = []
|!      data_matrix.append( [ "Name:", f"`{srv_name}`" ] )
|{      if msg_type:
|!          data_matrix.append( [ "Data type:", f"`{msg_type}`" ] )
|}
|!      data_matrix.append( [ "Listener:", tmpl_utils.ros_item_link( srv_listener ) ] )
        $<${ tmpl_utils.insert_table2( [], data_matrix ) }

|!
|!     msg_content = DATA_DICT.get('msg_content')
|{     if msg_content:
Message:
```
${msg_content}
```

|}
|}
|end template
