|*
|* Python is accessible by following methods:
|* - $variable -- printing value of variable to document
|* - ${ <expression> } -- single expression to evaluate and print to document
|* - |! -- general purpose line of any Python code
|* 
|* Any non-python content and non-template content is treated as text. 
|* 


|import showgraph.datadict as data_dict

|load "../footer.html.tmpl" as tmpl_footer


|template main( INPUT_DICT )
|!
|! DATA_DICT = data_dict.DataDict( INPUT_DICT )
|!
<html>
<head>
${ tmpl_footer.print_header() }
    <title>rosbag diagram: message type</title>
    <style>
        body {  padding: 24;
                background-color: #bbbbbb;
             }
        pre {  background-color: rgb(226, 226, 226);
               margin: 0px;
               margin-top: 24px;
               padding: 16px;
            }
        pre code {  margin: 0px;
                    padding: 0px;
                 }

        .footer { margin-top:48px;
                  width: 100%;
                  margin-right: auto; margin-left: auto;
                  text-align: center;
                  font-size: 12px;
                  color: #444444;
                }

        .center_content {  width: 100%;
                           margin-right: auto; margin-left: auto;
                           text-align: center;
                           padding-top: 24; padding-bottom: 24;
                        }

        .info_content { margin-bottom: 36; }

        .info_content td { padding-right: 24; }
        
        .notes { display: inline-block;
                 background-color: #FBFB77;
                 padding: 12;
               }

    </style>
</head>
<body>
    <div class="info_content">
        <a href="../full_graph.html">back to Main graph</a>
    </div>
    <div class="info_content">
|! topic_urls = DATA_DICT.get( 'topic_urls', [] )
        <table>
            <tr>
                <td>Message:</td>
                <td><code>${DATA_DICT.get('msgtype', '')}</code></td>
            </tr>
            <tr>
                <td>Topic:</td>
                <td>
|{     for topic_url in topic_urls:
           ${ generate_link( topic_url[0], topic_url[1] ) }
|}
                </td>
            </tr>
        </table>
        <br />
        <pre><code>${DATA_DICT.get('msgdef', '')}</code></pre>
    </div>

${ tmpl_footer.print_footer() }
</body>
</html>
|end template


|template generate_link( item_name, item_url )
|{ if item_url:
<a href="${item_url}">${item_name}</a>$>
|}
|{ else:
${item_name}$>
|}
|end template
