|*
|* Python is accessible by following methods:
|* - $variable -- printing value of variable to document
|* - ${ <expression> } -- single expression to evaluate and print to document
|* - |! -- general purpose line of any Python code
|* 
|* Any non-python content and non-template content is treated as text. 
|* 


|import showgraph.datadict as data_dict

|load "footer.md.tmpl" as tmpl_footer
|load "utils.md.tmpl" as tmpl_utils


|template main( INPUT_DICT )
|!
|! DATA_DICT = data_dict.DataDict( INPUT_DICT )
|!
${ tmpl_footer.print_header() }

## ${DATA_DICT.get('page_title', 'node graph')}


${DATA_DICT.get('top_content', '')}


|! graph_image_path = DATA_DICT.get('graph_image_path')
|{ if graph_image_path:
|! img_alt_text = DATA_DICT.get('graph_image_alt_text', '')
    $<[![${img_alt_text}]($graph_image_path "${img_alt_text}")]($graph_image_path)
|}

|!
|! groups_lists = DATA_DICT.get('items_lists', [])
|{ for group_dict in groups_lists:
|!     title      = group_dict.get( "title", "Items" )
|!     items_list = group_dict.get( "items", [] )
        ${ tmpl_utils.ros_link_list( items_list, title ) }
|}


${DATA_DICT.get('bottom_content', '')}


${ tmpl_footer.print_footer() }
|end template
