|*
|* Python is accessible by following methods:
|* - $variable -- printing value of variable to document
|* - ${ <expression> } -- single expression to evaluate and print to document
|* - |! -- general purpose line of any Python code
|* 
|* Any non-python content and non-template content is treated as text. 
|* 


|import showgraph.datadict as data_dict

|load "footer.md.tmpl" as tmpl_footer
|load "utils.md.tmpl" as tmpl_utils


|template main( INPUT_DICT )
|!
|! DATA_DICT = data_dict.DataDict( INPUT_DICT )
|!
${ tmpl_footer.print_header() }

## ${DATA_DICT.get('main_title', 'packages graph')}

${ tmpl_utils.add_graph_default_image( DATA_DICT ) }$>

|!
|!  pkg_path = DATA_DICT.get('pkg_path', "")
|!  pkg_nodes = DATA_DICT.get('pkg_nodes', [])
|{  if pkg_path or pkg_nodes:
|!      data_matrix = []
|!      data_matrix.append( [ "Package path:", f"`{ pkg_path }`" ] )
|!      data_matrix.append( [ "Nodes:",        f"`{ ' '.join(pkg_nodes) }`" ] )
        $<${ tmpl_utils.insert_table2( [], data_matrix ) }

|}

|!
|!  packages_list = DATA_DICT.get('graph_packages', [])
${  tmpl_utils.ros_link_table( packages_list, "Graph packages" ) }$>
|!

${ tmpl_footer.print_footer() }
|end template
