|*
|* Python is accessible by following methods:
|* - $variable -- printing value of variable to document
|* - ${ <expression> } -- single expression to evaluate and print to document
|* - |! -- general purpose line of any Python code
|* 
|* Any non-python content and non-template content is treated as text. 
|* 


|import showgraph.datadict as data_dict

|load "footer.html.tmpl" as tmpl_footer
|load "utils.html.tmpl" as tmpl_utils


|template main( INPUT_DICT )
|!
|! DATA_DICT = data_dict.DataDict( INPUT_DICT )
|!
<html>
<head>
${ tmpl_footer.print_header() }
    <title>params list</title>
    <style>
        body {  padding: 24;
                background-color: ${DATA_DICT.get('body_color', '')};
             }

        pre {  background-color: rgb(226, 226, 226);
               margin: 0px;
               padding: 16px;
            }

        pre code {  margin: 0px;
                    padding: 0px;
                 }

        th { padding: 0 32px 0 0;
             text-align: left; 
           }
        td { padding: 0 32px 0 0; }

        table td, table td * {
            vertical-align: top;
        }

        .footer { margin-top:48px;
                  width: 100%;
                  margin-right: auto; margin-left: auto;
                  text-align: center;
                  font-size: 12px;
                  color: #444444;
                }

        .center_content {  width: 100%;
                           margin-right: auto; margin-left: auto;
                           text-align: center;
                           padding-top: 24; padding-bottom: 24;
                        }

        .info_content { margin-bottom: 36; }

        .data a, .data span, .data tr, .data td { white-space: pre; }
${DATA_DICT.get('head_css_style', '')}
    </style>
</head>
<body>
    <div class="top_content">
        Main page
        <br />
    </div>
    <div class="center_content">
    </div>
|!
|!  params_list = DATA_DICT.get('params_list', [])
|{  if params_list:

    <div class="bottom_content data">
|!      header_list = []
|!      header_list.append( f"Parameters ({ len(params_list) }):" )
|!      header_list.append( "Type:" )
|!      header_list.append( "Value:" )
|!      data_matrix = []
|{      for item_data in params_list:
|!          data_row = []
|!          data_row.append( f"<a href=\"{ item_data[1] }\">{ item_data[0] }</a>" )
|!          data_row.append( f"<code>{ item_data[2] }</code>" )
|!          data_row.append( f"<code>{ item_data[3] }</code>" )
|!          data_matrix.append( data_row )
|}
        $<${ tmpl_utils.insert_table2( header_list, data_matrix ) }
        <br />
    </div>
|}


${ tmpl_footer.print_footer() }
</body>
</html>
|end template
