|*
|* Python is accessible by following methods:
|* - $variable -- printing value of variable to document
|* - ${ <expression> } -- single expression to evaluate and print to document
|* - |! -- general purpose line of any Python code
|* 
|* Any non-python content and non-template content is treated as text. 
|* 

|import rosdiagram.template.utils_html as py_utils


|template add_default_main_link( DATA_DICT )
|!
|! main_page_link = DATA_DICT.get('main_page_link')
|{ if main_page_link:
        ${ py_utils.link_simple( "back to Main graph", main_page_link ) }
|}
|{ else:
        Main graph
|}
        <br />
|end template


|template add_graph_default_image( DATA_DICT )
|!
|! graph_image_path = DATA_DICT.get('graph_image_path')
|{ if graph_image_path:
        <img src="$graph_image_path" alt="${DATA_DICT.get('graph_image_alt_text', '')}" usemap="#${DATA_DICT.get('graph_name', '')}">
${DATA_DICT.get('graph_map', '')}$>
|}
|end template


|template insert_table2( header_list, data_matrix )
        <table>
|{  if header_list:
            <tr>
|{      for header_item in header_list:
                <th>${header_item}</th>
|}
            </tr>
|}
|{  for data_row in data_matrix:
            <tr>
|{      for data_item in data_row:
                <td>${data_item}</td>
|}
            </tr>
|}
        </table>$>
|end template


|template ros_link_list( items_list, list_title )
|{ if items_list:
    <div class="bottom_content">
        $list_title (${ len(items_list) }):
        <ul>
|{     for items_pair in items_list:
            <li>${ ros_item_link( items_pair ) }</li>
|}
        </ul>
        <br />
    </div>

|}
|end template


|template ros_link_table( items_list, list_title )
|{  if items_list:
    <div class="bottom_content">
|!      header_list = []
|!      header_list.append( f"{list_title} ({ len(items_list) }):" )
|!      header_list.append( "Description:" )
|!      data_matrix = []
|{      for item_data in items_list:
|!          data_matrix.append( [ ros_link( item_data[0], item_data[1] ), item_data[2] if len(item_data) > 2 else '' ] )
|}
        $<${ insert_table2( header_list, data_matrix ) }
        <br />
    </div>

|}
|end template


|template ros_item_link( item_pair )
|! item_name = item_pair[0]
|! item_url  = item_pair[1]
${ ros_link( item_name, item_url ) }$>
|end template


|template ros_link( item_name, item_url )
|{ if item_url:
<a href="${item_url}">${ py_utils.code_inline(item_name) }</a>$>
|}
|{ else:
${ py_utils.code_inline(item_name) }$>
|}
|end template
